.CheckboxGroupField {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

.CheckboxGroupField input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
}

.CheckboxGroupField label {
    display: inline-block;
    margin-bottom: 0;
}

.CheckboxGroupField input[type="checkbox"]:disabled, input[type="checkbox"]:disabled + label {
    color: grey;
}
