.Home {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.Home__Search {
    flex: 1 0 auto;
    padding-top: 100px;
}

.Home__Search ul li {
    padding-bottom: 16px;
}

.Home__Search .search-box + p,
.Home__Search .search-box + div {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.Home__Search .APIList ul {
    list-style-type: decimal;
    padding: 0;
}

.Home h1 {
    text-align: center;
    margin-bottom: 0;
    color: #2961FF;
    font-weight: 800;
    font-size: 28px;
    line-height: 35px;
}

.Home h2 {
  text-align: center;
  color: #676D80;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
  font-weight: normal;
}

.Home .search-box {
    max-width: 380px;
    margin: 0 auto;
}

.Home .Home__Tags {
    display: flex;
    padding: 35px 16px 32px 16px;
}

.Home .Home__Tags .TagListContainer {
    display: inline-block;
}

.Home .Home__Tags p {
    display: inline-block;
    color: #6c757d;
    margin: 0;
    padding-right: 16px;
    line-height: 1.65rem;
}

.Home .Home__Tags .TagList ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 1.65rem;
    text-align: center;
}

.Home .Home__Tags .TagList li {
    display: inline-block;
    margin-right: 5px;
}

.Home .Home__Tags .TagList li:last-child {
    margin-right: 0;
}
