.SubmitAPIForm select.form-control {
    height: calc(2.25rem + 2px);
}

.SubmitAPIForm .form-group {
    margin-bottom: 1rem;
}

.SubmitAPIForm .text-muted {
    color: #6c757d;
}

.SubmitAPIForm .text-danger {
    color: #dc3545;
}

.SubmitAPIForm .form-text {
    display: inline-block;
    margin-top: .25rem;
    font-size: 14px;
    color: #A3AABF;
}

.SubmitAPIForm .small,
.SubmitAPIForm small {
    font-size: 80%;
    font-weight: 400;
}
